.loader {
  --loader-color: rgb(133, 107, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin: 3rem auto;
  height: 100%;
  color: var(--loader-color);
  scale: 0.8;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(133, 107, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem currentColor;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 currentColor;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem currentColor;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 currentColor;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 currentColor;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem currentColor;
    opacity: 1;
  }
}
      
