.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1.title {
  margin-bottom: 47px;
}

.container h2.subtitle {
  margin-bottom: 16px;
}

.waitText {
  text-align: center;
  margin-bottom: 16px;
}

.buyButton {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  border: 1.4px solid var(--Stroke, rgba(94, 94, 94, 0.6));
  background: var(
    --Background-Idle,
    linear-gradient(
      0deg,
      rgba(94, 94, 94, 0.18) 0%,
      rgba(94, 94, 94, 0.18) 100%
    ),
    rgba(255, 255, 255, 0.07)
  );
  background-blend-mode: color-dodge, normal;
  border-radius: 30px;
}

.waitButton {
  width: 100%;
  min-height: 26px;
  border-radius: 30px;

  background: var(
    --Background-Idle,
    linear-gradient(
      0deg,
      rgba(94, 94, 94, 0.18) 0%,
      rgba(94, 94, 94, 0.18) 100%
    ),
    rgba(255, 255, 255, 0.07)
  );
  background-blend-mode: color-dodge, normal;
}

.waitButton span {
  font-size: 12px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.buttonContent h3 {
  font-size: 16px;
}
.star {
  color: white;
  font-size: 20px;
}
