.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  background-size: cover;
  gap: 32px;
  background-image: url('../../assets/backgrounds/girlsBackground.webp');
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 24px;
  text-align: center;
}

.qrWrapper {
  background: white;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
}

.qrCode {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container button.button {
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}
