.container {
  width: 100%;
  padding: 104px 16px 96px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
}

.heroCard {
  display: flex;
  gap: 12px;
  background: rgba(18, 18, 28, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 16px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.25) 0 4px 4px 0;
}

.heroIconWrap {
  width: 30%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.heroIcon {
  width: 100%;
  height: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.heroTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.heroSubtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 1.4;
  font-family: var(--font-content);
  font-weight: 400;
  margin-bottom: 20px;
}

.heroButton {
  align-self: flex-start;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #8b5cf6 0%, #3b82f6 100%);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 16px;
}

.grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px 12px;
}

.planCard {
  position: relative;
  background: rgba(18, 18, 28, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  padding: 12px 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.25) 0 4px 4px 0;
}


.recommendedBadge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 8px;
  border: 1px solid #ffffff4d;
  border-radius: 999px;
  background: rgba(219, 76, 255, 0.4);
  box-shadow: rgb(219, 76, 255) 0 0 16px, rgba(219, 76, 255, 0.5) 0 0 24px,
    rgba(219, 76, 255, 0.376) 0 0 8px inset;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  z-index: 1;
}

.planIcon {
  width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.planAir {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.planButton {
  height: 30px;
  padding: 0 16px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #8b5cf6 0%, #3b82f6 100%);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}

.planPrice {
  font-size: 14px;
}

.planStar {
  font-size: 14px;
}
