.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.imageContainer {
  width: 100%;
  max-width: 150px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.giftImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.starBtn,
.jumpBtn {
  width: 100%;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  min-height: 40px;
}

.btnSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(94, 94, 94, 0.18);
  border-radius: 30px;
  padding: 4px 12px;
  height: 40px;
}

img.btnImg {
  width: 14px;
  height: 14px;
}
