.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  padding-bottom: 160px;
  overflow-y: scroll;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  text-align: center;
}

.categoryTitle {
  text-align: center;
  margin-bottom: 12px;
  text-transform: capitalize;
  position: relative;
}

.taskSection {
  flex: 33%;
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
  box-sizing: border-box;
}
