.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  max-height: calc(100vh - 88px);
  overflow-y: scroll;
}

.content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inviteSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.inviteWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.inviteCard {
  border: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.4));
  background: var(--Glass-Fill, rgba(128, 128, 128, 0.3));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inviteInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inviteInfo h1 {
  font-size: 12px;
}

.inviteInfo img {
  width: 48px;
  height: 48px;
}

.inviteInfo > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inviteButton {
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 30px;
  min-height: 26px;
}

.friendsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friendItem {
  border: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.4));
  background: var(--Glass-Fill, rgba(128, 128, 128, 0.3));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendInfo {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.friendInfo span {
  font-family: Yaldevi;
}
.friendInfo img {
  width: 42px;
  height: 42px;
}

.friendStats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.friendStats span {
  color: #ffee97;
}

.score {
  font-family: Yaldevi;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2px;
}

.score img {
  width: 22px;
  height: 22px;
}

.scoreInfo {
  display: flex;
  align-items: flex-start;
}

.score h1 {
  font-size: 12px;
}
.inviteBtnWrapper {
  display: flex;
  justify-content: center;
}
.inviteBtnWrapper button {
  width: 50%;
  height: 30px;
  min-height: 30px;
}
