@font-face {
  font-family: 'TitanOne';
  src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('/fonts/Yaldevi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.app {
  font-family: TitanOne;
  background: linear-gradient(180deg, #000000 0%, #1f2e43 101.07%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  justify-content: space-between;
  overscroll-behavior: contain;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  width: 100%;

  background-color: #000;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: var(--app-height);
  background-color: #000;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  background-color: #000;
  z-index: 1;
}

.bg-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.bg-content.visible {
  opacity: 1;
  pointer-events: auto;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.gui .sb-show-main.sb-main-centered #storybook-root {
  padding: 0;
}

.app.Bag .headerBg,
.app.Store .headerBg {
  height: 140px;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    #000036 0%,
    rgba(36, 0, 58, 0.5) 61.5%,
    rgba(140, 0, 255, 0) 100%
  );
}

.app.Guide,
.app.Chat {
  justify-content: start;
  padding-bottom: 20px;
  height: calc(var(--vh, 1vh) * 100);
}

.app.Subscription {
  display: flex;
  justify-content: start;
  overflow-y: auto;
}

.app.Girls .header {
  z-index: 1;
  position: absolute;
}
video {
  object-fit: cover;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: opacity 0.3s ease, display 0.3s ease;
}

.video.hidden {
  opacity: 0;
  pointer-events: none;
  display: none !important;
}

.video-idle {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.video-idle.focus {
  opacity: 0.5;
}

.video-rub.visible {
  opacity: 1;
  display: block;
}

/* ReactPlayer specific styles */
.react-player {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.react-player > video {
  object-fit: cover !important;
  transition: opacity 0.3s ease, display 0.3s ease;
}

@keyframes float-up {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-50px);
  }
}

.hand-guide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px !important;
  height: 54px !important;
  transform-origin: center;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hand-guide.visible {
  opacity: 1;
  animation: circleMotion 3s infinite linear;
}

.app.Chat .header {
  position: absolute;
  top: 0;
}

.app.Chat .header > div {
  opacity: 0;
  pointer-events: none;
}

@keyframes circleMotion {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(50px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(50px)
      rotate(-360deg);
  }
}

.video-dance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .app {
    padding-top: calc(
      var(--tg-content-safe-area-inset-top, 0px) +
        var(--tg-safe-area-inset-top, 0px)
    );
  }
  .app-container {
    height: calc(var(--vh, 1vh) * 100);
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1024px) {
  .app {
    top: 0;
  }
}
