.container {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.content {
  padding-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter {
  margin: 0 16px;
  width: calc(100% - 32px);
}

.filterContainer .filterBtn {
  padding: 0 16px;
  color: white;
  min-height: 37px;
  background-color: #4d4d4d4d;
  backdrop-filter: blur(10px);
  border: 1.4px solid transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1.4px solid rgba(255, 255, 255, 0.4);
}

.filterContainer .isActive {
  background-color: #ffffff;
  color: #1e1e1e;
}

.content h1 {
  text-align: center;
  margin: 0 16px 15px;
  text-transform: capitalize;
  position: relative;
}

.categoryTitle {
  text-align: center;
  margin-bottom: 12px;
  text-transform: capitalize;
  position: relative;
}

.categorySection {
  margin-bottom: 30px;
}
