.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000cc;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.background.isOpen {
  opacity: 1;
  pointer-events: all;
}

.content {
  text-align: center;
  width: 300px;

  height: auto;
  background: #8080804d;
  backdrop-filter: blur(10px);
  border: 1.5px solid #ffffff50;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 24px;
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  position: relative;
}

.background.isOpen .content {
  opacity: 1;
  pointer-events: all;
}

.content > h2 {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 29px;
  margin-bottom: 15px;
}

.content > p {
  font-family: var(--RobotoCondensed, sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 0;

  margin-bottom: 15px;
}

.close {
  position: absolute;
  left: 0;
  margin: 18px 15px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
