.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 16px 0 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.title {
  color: #fff;
  text-transform: capitalize;
}

.statsCard {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  background: rgba(18, 18, 28, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 14px;
  backdrop-filter: blur(10px);
}

.stat {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
}

.icon {
  width: 22px;
  height: 22px;
}

.count {
  font-size: 14px;
  font-family: var(--font-ui);
  font-weight: 600;
}

.iconButton {
  border: none;
  //background: transparent;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  color: #fff;
  background: #7564df;
}

.iconButton svg {
  width: 18px;
  height: 18px;
}
