.btnSection {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  text-wrap: nowrap;
}

.btnSection .btnImg {
  width: 24px;
}

.walletModalWrap {
  width: 100%;
}

.walletModalWrap img {
  width: 42px;
}

.walletModalWrap .btn {
  width: 100%;
  height: 48px;
  margin-top: 57px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: #4d4d4d4d;
  backdrop-filter: blur(10px);
}

.connectedWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnDisconnect {
  width: 100%;
  height: 48px;
  margin-top: 32px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: #4d4d4d4d;
  backdrop-filter: blur(10px);
}

.confirmBtn {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: #4d4d4d4d;
  backdrop-filter: blur(10px);
}

.confirmText {
  padding: 32px 0 16px 0;
}

.walletSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.walletImg {
  width: 72px;
  height: 72px;
  border-radius: 20px;
}
