.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  max-height: calc(100vh - 88px);
  overflow-y: scroll;
}

.content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.totalMined {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.totalAmount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.totalAmount img {
  width: 40px;
  height: 40px;
}
.leaderInfo {
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.leaderInfo span {
  white-space: nowrap;
  color: #fff;
}
.leadersList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.leaderItem {
  border-radius: 20px;
  border: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.4));
  background: var(--Glass-Fill, rgba(128, 128, 128, 0.3));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  display: flex;
  align-items: center;
  gap: 8px;
}

.score img {
  width: 24px;
  height: 24px;
}

.container span {
  margin: 0 auto;
}
