.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 16px 16px;
  max-height: calc(100vh - 88px);
  overflow-y: scroll;
  transition: 0.5s;
}

.topSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.topSection > :last-child {
  flex: 1;
}

.cardsLists {
  height: calc(100%);
  padding-bottom: 16px;
  overflow-y: scroll;
}
