.footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  padding: 10px;
  bottom: 0;
  background: linear-gradient(
    0deg,
    #000036 0%,
    rgba(36, 0, 58, 0.5) 65%,
    rgba(140, 0, 255, 0) 100%
  );
  width: 100%;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 60px;
}

.footer button.navButton {
  border: 1.4px solid #ffffff1a;
  background-color: #8080804d;
  backdrop-filter: blur(10px);
  padding: 5px;
  box-shadow: 0px 2px 4px 0px #0000001a;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
}

.navButton:hover {
  background-color: #999;
}

span {
  font-size: 12px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
