.filterContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-x: scroll;
  backdrop-filter: blur(10px);
  display: flex;
  gap: 12px;
  border-radius: 20px;
  padding: 12px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: rgba(128, 128, 128, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.filterContainer .filterBtn {
  padding: 0 16px;
  color: white;
  min-height: 37px;
  background-color: #4d4d4d4d;
  backdrop-filter: blur(10px);
  border: 1.4px solid transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  font-family: Yaldevi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.06px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.filterContainer .isActive {
  background: rgba(255, 255, 255, 1);
  color: #1e1e1ef5;
}
